
<md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="100" layout="column">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Binding Example :</span>
                    <span class="md-subhead">{{bindingModuleData}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-href="#/home">Back</md-button>
            </md-card-actions>
        </md-card>
    </div>
</md-content>