
<header class="background-sky">
    <div class="hero background-superhero-paper is-large">
        <h1 class="text-headline hero-logo">Angular framework.<br>Rich UI for Mobile & Desktop Applications.<br/> Learn Angular Concepts in easy steps.</h1>
        <div class="hero-cta">
            <md-menu>
            <md-button class="md-raised" ng-click="$mdOpenMenu()">Get Started</md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button ng-click="goToAngularJS_VERSION1($event)">
                        AngularJS-V1
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="goToAngularJS_VERSION2($event)">
                        AngularJS-V2
                    </md-button>
                </md-menu-item>
            </md-menu-content>
            </md-menu>
        </div>
    </div>
</header>
