<div>
    <br/>
    <md-input-container class="md-default-theme md-icon-float md-icon-right md-block" style="width:70% !important;margin-left: 10% !important;" align="center">
        <md-icon>search</md-icon>
        <input class="ng-pristine ng-untouched ng-valid md-input" type="text" ng-model="searchTopic" name="name" placeholder="Search Topic">
            <md-icon>close</md-icon>
    </md-input-container>
</div>

<md-content class="md-padding" layout-xs="column" layout="row">
    <br/>
    <div flex-xs flex-gt-xs="25" layout="column">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">AngularJS-Binding</span>
                    <span class="md-subhead">We can easily bind the values to view.</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="goToBinding();">View</md-button>
            </md-card-actions>
        </md-card>
    </div>
</md-content>